services:
  # IP Service (Backend)
  - type: web
    name: server
    env: node
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: MONGO_URI
        sync: false # User must provide this in dashboard

  # Static Site (Frontend)
  - type: static
    name: client
    env: static
    rootDir: client
    buildCommand: npm install && npm run build
    publishDir: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: server
          property: url
